apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: outline-infisical
  namespace: ai-platform
  labels:
    app.kubernetes.io/name: outline
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 60
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /knowledge/outline
  managedSecretReference:
    secretName: outline-credentials
    secretNamespace: ai-platform
    secretType: Opaque
    creationPolicy: Owner
