apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: kernow-hub-secrets
  namespace: ai-platform
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /platform/afferent
  managedSecretReference:
    secretName: kernow-hub-secrets
    secretNamespace: ai-platform
    secretType: Opaque
    creationPolicy: Owner
