apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: investmentology-api-secrets
  namespace: ai-platform
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /platform/investmentology
  managedSecretReference:
    secretName: investmentology-api-secrets
    secretNamespace: ai-platform
    secretType: Opaque
    creationPolicy: Owner
