apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keep-data
  namespace: keep
  labels:
    app.kubernetes.io/name: keep
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
