apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: incident-db-infisical
  namespace: ai-platform
  labels:
    app: incident-db
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /knowledge/incident-db
  managedSecretReference:
    secretName: incident-db-credentials
    secretNamespace: ai-platform
    secretType: Opaque
    creationPolicy: Owner
