---
# Pull Infisical universal auth credentials for this service
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: infisical-universal-auth-sync
  namespace: ai-platform
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: prod-homelab-y-nij
        envSlug: prod
        secretsPath: /agentic-platform/infisical
  managedSecretReference:
    secretName: infisical-universal-auth
    secretNamespace: ai-platform
    secretType: Opaque
    creationPolicy: Owner
